{% extends "core/base_site.html" %}

{% block title %}  Checklists {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h3> Checklists </h3>
                        <div class="clearfix"></div>
                    </div>                  

                    <div class="x_content">

                        <div class="table-responsive">


                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                        <th class="column-title">Cliente</th>
                                        <th class="column-title">Numero de contrato</th>
                                        <th class="column-title">Descripcion del checklist</th>

                                        <th colspan="2" class="column-title no-link last"><span class="nobr">Acci&oacute;n</span></th>
                                </tr>
                                </thead>

                                <tbody>
                                    <tr class="even pointer">
                                        <td class=" " colspan="8">
			                                <button onclick="window.location.href='{% url 'checklists:create' %}'" style="float:left;" class="btn btn-primary btn-xs">Crear checklist</button>
				                        </td>
                                    </tr>

                                    {% for checklist in checklists %}
                                    <tr class="even pointer">
                                        <td class=" ">{{checklist.client.name}}</td>
                                        <td class=" ">{{checklist.contract.contract}}</td>
                                        <td class=" ">{{checklist.description}}</td>

                                        <td class=" last">
                                            <div><button onclick="window.location.href='{% url 'checklists:edit' checklist.id %}'" style="float:left;" class="btn btn-success btn-xs">Editar</button></div>
                                        </td>
                                        <td class=" last">
                                            <div><button onclick="window.location.href='{% url 'checklists:delete_checklists' checklist.id %}'" style="float:left;" class="btn btn-danger btn-xs">Eliminar</button></div>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}

{% endblock javascripts %}