{% extends "core/base_site.html" %}

{% block title %} Editar Visita {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>Editar Visita</h3>
                        <div class="clearfix"></div>
                    </div>                  

                    <div class="x_content">

                        <form action="{% url 'visits:update' visit.id %}" method="POST" class="form-horizontal form-label-left">
                        {% csrf_token %}


                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contract">Numero de contrato</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select id="contract" name="contract" class="form-control">
                                {% for contract in contracts %}
                                    <option value="{{contract.contract}}" {% if contract.contract == visit.contract.contract %}selected{% endif %}>{{contract.contract}}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="client">Cliente</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select id="client" name="client" class="form-control">
                                {% for client in clients %}
                                    <option value="{{client.name}}" {% if client.name == visit.client.name %}selected{% endif %}>{{client.name}}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="professional">Profesional a cargo</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select id="professional"  name="professional" class="form-control">
                                {% for professional in professionals %}
                                    <option value="{{professional.name}}" {% if professional.name == visit.professional.name %}selected{% endif %}>{{professional.name}}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="reason">Razon de visita</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="reason" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{visit.reason}}" maxlength="500" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="date">Fecha de visita</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="date" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{visit.date|date:'Y-m-d'}}" >
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" name="submit" class="btn btn-success">Grabar</button>
                                <button type="button"  onclick="window.location.href='{% url 'visits:visits' %}'" class="btn btn-primary">Cancelar</button>
                            </div>
                        </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
    <script>
    $(function() {
        $('input[name="date"]').daterangepicker({
            singleDatePicker: true,
    		locale: {
        		format:  'YYYY-MM-DD',
        		applyLabel: "Aceptar",
        		cancelLabel: "Cancelar",
        		daysOfWeek: [
            		"Do",
            		"Lu",
            		"Ma",
            		"Mi",
            		"Ju",
            		"Vi",
            		"Sa"
        		],
        		monthNames: [
            		"Enero",
            		"Febrero",
            		"Marzo",
            		"Abril",
            		"Mayo",
            		"Junio",
            		"Julio",
            		"Agosto",
            		"Septiembre",
            		"Octubre",
            		"Noviembre",
            		"Diciembre"
        		]
    		}
        });
    });
    </script>

{% endblock javascripts %}