{% extends "core/base_site.html" %}

{% block title %} Actividades de visitas {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>Actividades de visitas</h3>
                        <div class="clearfix"></div>
                    </div>                  

                    <div class="x_content">

                        <div class="table-responsive">


                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                        <th class="column-title">Razon de la visita</th>
                                        <th class="column-title">Fecha de la visita</th>
                                        <th class="column-title">Profesional a cargo</th>
                                        <th class="column-title">Estado de la actividad</th>
                                        <th colspan="2" class="column-title no-link last"><span class="nobr">Acci&oacute;n</span></th>
                                </tr>
                                </thead>

                                <tbody>

                                    {% for visit in visits %}
                                    <tr class="even pointer">
                                        <td class=" ">{{visit.reason}}</td>
                                        <td class=" ">{{visit.date}}</td>
                                        <td class=" ">{{visit.professional.name}}</td>
                                        <td class=" ">{{visit.state}}</td>

                                        <td class=" last">
                                            <div><button onclick="window.location.href='' " style="float:left;" class="btn btn-success btn-xs">Notificar atraso</button></div>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}

{% endblock javascripts %}