{% extends "core/base_site.html" %}

{% block title %} Editar Profesional {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>Editar Profesional</h3>
                        <div class="clearfix"></div>
                    </div>                  

                    <div class="x_content">

                        <form action="{% url 'professionals:update' professional.id %}" method="POST" class="form-horizontal form-label-left">
                        {% csrf_token %}

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="rut">Rut</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="rut" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{professional.rut}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dv">DV</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="dv" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{professional.dv}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nombre</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="name" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{professional.name}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="email" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{professional.email}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">Numero de telefono</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="phone" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{professional.phone}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="state">Estado</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="state" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{professional.state}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username">Usuario</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="username" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{professional.username}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">Clave</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="password" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{professional.password}}">
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" name="submit" class="btn btn-success">Grabar</button>
                                <button type="button"  onclick="window.location.href='{% url 'professionals:professionals' %}'" class="btn btn-primary">Cancelar</button>
                            </div>
                        </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}

{% endblock javascripts %}