{% extends "core/base_site.html" %}

{% block title %} Capacitaciones {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>Administraci&oacute;n de Capacitaciones</h3>
                        <div class="clearfix"></div>
                    </div>                  

                    <div class="x_content">

                        <div class="table-responsive">


                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                        <th class="column-title">Contrato</th>
                                        <th class="column-title">Cliente</th>
                                        <th class="column-title">Profesional</th>
                                        <th class="column-title">Asistentes</th>
                                        <th class="column-title">Tema</th>
                                        <th class="column-title">Fecha</th>
                                        <th colspan="2" class="column-title no-link last"><span class="nobr">Acci&oacute;n</span></th>
                                </tr>
                                </thead>

                                <tbody>
                                    <tr class="even pointer">
                                        <td class=" " colspan="8">
			                                <button onclick="window.location.href='{% url 'capacitations:create' %}'" style="float:left;" class="btn btn-primary btn-xs">Crear Capacitacion</button>
				                        </td>
                                    </tr>

                                    {% for capacitation in capacitations %}
                                    <tr class="even pointer">
                                        <td class=" ">{{capacitation.contract.contract}}</td>
                                        <td class=" ">{{capacitation.client.name}}</td>
                                        <td class=" ">{{capacitation.profesional.name}}</td>
                                        <td class=" ">{{capacitation.attendees}}</td>
                                        <td class=" ">{{capacitation.topic}}</td>
                                        <td class=" ">{{capacitation.date}}</td>

                                        <td class=" last">
                                            <div><button onclick="window.location.href='{% url 'capacitations:edit' capacitation.id %}'" style="float:left;" class="btn btn-success btn-xs">Editar</button></div>
                                        </td>
                                        <td class=" last">
                                            <div><button onclick="window.location.href='{% url 'capacitations:delete_capacitations' capacitation.id %}'" style="float:left;" class="btn btn-danger btn-xs">Eliminar</button></div>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}

{% endblock javascripts %}