<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="{% url 'index2' %}" class="site_title"><i class="fa fa-spinner"></i> <span>SegurLife</span></a>
    </div>
  
    <div class="clearfix"></div>
  
    <!-- menu profile quick info -->
    <div class="profile clearfix">
      <div class="profile_pic">
      </div>
      <div class="profile_info">
        <span>Bienvenido,</span>
        <h2>{{ user.get_username }}</h2>
      </div>
    </div>
    <!-- /menu profile quick info -->
  
    <br />
  
    <!-- sidebar menu ADMINISTRADOR-->
    {% if user.groups.first.name == "administradores" %}
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          <li class><a href="{% url 'professionals:professionals' %}"><i class="fa fa-user"></i> Profesionales </a></li>
          <li class><a href="{% url 'clients:clients' %}"><i class="fa fa-users"></i> Clientes </a></li>
          <li class><a href="{% url 'administrators:administrators' %}"><i class="fa fa-key"></i> Administradores </a></li>
          <li class><a href="{% url 'users:users' %}"><i class="fa fa-users"></i> Usuarios de cliente </a></li>
          <li class><a href="{% url 'contracts:contracts' %}"><i class="fa fa-money"></i> Contratos </a></li>
          <li class><a href=""><i class="fa fa-money"></i> Controlar pago </a></li>
          <li class><a><i class="fa fa-search"></i> Visualizar actividades <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu" style="display: none;">
              <li><a href="{% url 'advisorys:review_advisory' %}">Asesorías</a></li>
              <li><a href="{% url 'capacitations:capacitation_review' %}">Capacitaciones</a></li>
              <li><a href="{% url 'visits:visit_review' %}">Visitas</a></li>
            </ul>
          </li>
          <li class><a href="{% url 'reports:reports' %}"><i class="fa fa-newspaper-o"></i> Generar reporte cliente </a></li>
        </ul>
      </div>
    </div>
    {% elif user.groups.first.name == "profesionales" %}

    <!-- sidebar menu PROFESIONAL-->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          <li><a href="{% url 'capacitations:capacitations' %}"><i class="fa fa-user"></i> Crear capacitacion </a></li>
          <li><a href="{% url 'visits:visits' %}"><i class="fa fa-users"></i> Planificar visita </a></li>
          <li><a href="{% url 'clients:clients' %}"><i class="fa fa-key"></i> Clientes </a></li>
          <li><a href="{% url 'improvements:improvements' %}"><i class="fa fa-info-circle"></i> Actividades de mejoras </a></li>
          <li><a href="{% url 'advisorys:advisorys' %}"><i class="fa fa-money"></i> Asesorías </a></li>
          <li><a href="{% url 'checklists:checklists' %}"><i class="fa fa-calculator"></i> Checklists </a></li>
        </ul>
      </div>

    </div>

    {% elif user.groups.first.name == "clientes" %}
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          <li><a href="{% url 'specialadvisorys:specialadvisorys' %}"><i class="fa fa-user"></i> Solicitar asesoría especial </a></li>
          <li><a href="{% url 'reportaccidents:reportaccidents' %}"><i class="fa fa-users"></i> Reportar accidente </a></li>
        </ul>
      </div>
    </div>
    {% endif %}
     


    <!-- /sidebar menu -->


  </div>