<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="{% url 'index2' %}" class="site_title"><i class="fa fa-spinner"></i> <span>SegurLife</span></a>
    </div>
  
    <div class="clearfix"></div>
  
    <!-- menu profile quick info -->
    <div class="profile clearfix">
      <div class="profile_pic">
      </div>
      <div class="profile_info">
        <span>Bienvenido,</span>
        <h2>Administrador</h2>
      </div>
    </div>
    <!-- /menu profile quick info -->
  
    <br />
  
    <!-- sidebar menu ADMINISTRADOR-->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          <li><a><i class="fa fa-user"></i> Profesionales </a></li>
          <li><a><i class="fa fa-users"></i> Clientes </a></li>
          <li><a><i class="fa fa-key"></i> Administradores </a></li>
          <li><a><i class="fa fa-money"></i> Controlar pago </a></li>
          <li><a><i class="fa fa-info"></i> Informar profesionales </a></li>
          <li><a><i class="fa fa-calculator"></i> Calcular accidentabilidad </a></li>
          <li><a><i class="fa fa-search"></i> Visualizar actividades </a></li>
          <li><a><i class="fa fa-info-circle"></i> Notificar atrasos </a></li>
          <li><a><i class="fa fa-newspaper-o"></i> Generar reporte cliente </a></li>
        </ul>
      </div>

    </div>
    <!-- /sidebar menu -->

    <!-- sidebar menu PROFESIONAL
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          <li><a><i class="fa fa-user"></i> Crear capacitacion </a></li>
          <li><a><i class="fa fa-users"></i> Planificar visita </a></li>
          <li><a><i class="fa fa-key"></i> Clientes </a></li>
          <li><a><i class="fa fa-money"></i> Crear caso de asesoria </a></li>
          <li><a><i class="fa fa-info"></i> Ingresar asesoria </a></li>
          <li><a><i class="fa fa-calculator"></i> Crear checklist </a></li>
          <li><a><i class="fa fa-search"></i> Responder checklist </a></li>
          <li><a><i class="fa fa-info-circle"></i> Ingresar actividad de mejora </a></li>
          <li><a><i class="fa fa-newspaper-o"></i> Revisar actividad de mejora </a></li>
        </ul>
      </div>

    </div>
     -->


    <!-- /sidebar menu -->


  </div>