{% extends "core/base_site.html" %}

{% block title %} Editar Usuario {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>Editar Usuario</h3>
                        <div class="clearfix"></div>
                    </div>                  

                    <div class="x_content">

                        <form action="{% url 'users:update' user.id %}" method="POST" class="form-horizontal form-label-left">
                        {% csrf_token %}


                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="rut">Rut</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="rut" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{user.rut}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dv">DV</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="dv" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{user.dv}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nombre</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="name" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{user.name}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">Direccion</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="address" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{user.address}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="comune">Comuna</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="comune" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{user.comune}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="region">Region</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="region" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{user.region}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="type">Tipo</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="type" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{user.type}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_client">Id Cliente</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="id_client" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{user.id_client}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username">Usuario</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="username" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{user.username}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">Clave</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="password" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{user.password}}">
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <input type="submit" name="submit" value="submit">
                            </div>
                        </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}

{% endblock javascripts %}