{% extends "core/base_site.html" %}

{% block title %} Reportes de accidentes {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>Reportes de accidentes</h3>
                        <div class="clearfix"></div>
                    </div>                  

                    <div class="x_content">

                        <div class="table-responsive">


                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                        <th class="column-title">Descripcion</th>
                                        <th class="column-title">Area del accidente</th>
                                        <th class="column-title">Fecha del accidente</th>
                                        <th class="column-title">Hora del accidente</th>
                                        <th colspan="2" class="column-title no-link last"><span class="nobr">Acci&oacute;n</span></th>
                                </tr>
                                </thead>

                                <tbody>
                                    <tr class="even pointer">
                                        <td class=" " colspan="8">
			                                <button onclick="window.location.href='{% url 'reportaccidents:create' %}'" style="float:left;" class="btn btn-primary btn-xs">Reportar accidente</button>
				                        </td>
                                    </tr>

                                    {% for reportaccident in reportaccidents %}
                                    <tr class="even pointer">
                                        <td class=" ">{{reportaccident.description}}</td>
                                        <td class=" ">{{reportaccident.zone}}</td>
                                        <td class=" ">{{reportaccident.date}}</td>
                                        <td class=" ">{{reportaccident.hour}}</td>

                                        <td class=" last">
                                            <div><button onclick="window.location.href='{% url 'reportaccidents:edit' reportaccident.id %}'" style="float:left;" class="btn btn-success btn-xs">Editar</button></div>
                                        </td>
                                        <td class=" last">
                                            <div><button onclick="window.location.href='{% url 'reportaccidents:delete_reportaccident' reportaccident.id %}'" style="float:left;" class="btn btn-danger btn-xs">Eliminar</button></div>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}

{% endblock javascripts %}