{% extends "core/base_site.html" %}

{% block title %} Editar Administrador {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>Editar Administrador</h3>
                        <div class="clearfix"></div>
                    </div>                  

                    <div class="x_content">

                        <form action="{% url 'administrators:update' administrator.id %}" method="POST" class="form-horizontal form-label-left">
                        {% csrf_token %}

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="rut">Rut</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="number" name="rut" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{administrator.rut}}" maxlength="8" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dv">DV</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="dv" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{administrator.dv}}" maxlength="1" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nombre</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="name" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{administrator.name}}" maxlength="50" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="email" name="email" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{administrator.email}}" maxlength="100" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">Numero de telefono</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="number" name="phone" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{administrator.phone}}" maxlength="11" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="state">Estado</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="state" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{administrator.state}}" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username">Usuario</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="username" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{administrator.username}}" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">Clave</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="password" autocomplete="off" class="form-control col-md-7 col-xs-12" value="{{administrator.password}}" readonly>
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" name="submit" class="btn btn-success">Aceptar</button>
                                <button type="button"  onclick="window.location.href='{% url 'administrators:administrators' %}'" class="btn btn-primary">Cancelar</button>
                            </div>
                        </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}