{% extends "core/base_site.html" %}

{% block title %} Clientes {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block modal %}
    
    <!-- MODAL ELIMINAR -->
  <div class="modal fade" tabindex="-1" role="dialog" id="modal-eliminar-cliente">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"></span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Eliminar Cliente</h4>
        </div>
        <div class="modal-body">

          <form  action="" method="POST" class="form-horizontal form-label-left">

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Desea borrar?</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <button class="btn btn-primary" type="button" id="cancelar-eliminar">Cancelar</button>
                <button type="submit" class="btn btn-success">Eliminar</button>
              </div>
            </div>

          </form>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endblock modal %}

{% block content %}
<div class="right_col" role="main">
    <div class="">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>Administraci&oacute;n de Clientes</h3>
                        <div class="clearfix"></div>
                    </div>                  

                    <div class="x_content">

                        <div class="table-responsive">


                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                        <th class="column-title">Rut</th>
                                        <th class="column-title">Nombre</th>
                                        <th class="column-title">Rubro</th>
                                        <th class="column-title">Dirección</th>
                                        <th class="column-title">Comuna</th>
                                        <th class="column-title">Región</th>
                                        <th colspan="2" class="column-title no-link last"><span class="nobr">Acci&oacute;n</span></th>
                                </tr>
                                </thead>

                                <tbody>
                                    <tr class="even pointer">
                                        <td class=" " colspan="8">
			                                <button onclick="window.location.href='{% url 'clients:create' %}'" style="float:left;" class="btn btn-primary btn-xs">Crear cliente</button>
				                        </td>
                                    </tr>

                                    {% for client in clients %}
                                    <tr class="even pointer">
                                        <td class=" ">{{client.rut}}</td>
                                        <td class=" ">{{client.name}}</td>
                                        <td class=" ">{{client.sector}}</td>
                                        <td class=" ">{{client.address}}</td>
                                        <td class=" ">{{client.commune.commune}}</td>
                                        <td class=" ">{{client.commune.region.region}}</td>
                                        <td class=" last">
                                            <div><button onclick="window.location.href='{% url 'clients:edit' client.id %}'" style="float:left;" class="btn btn-success btn-xs">Editar</button></div>
                                        </td>
                                        <td class=" last">
                                            <div><button onclick="confirm_delete('{{client.id}}');" style="float:left;" class="btn btn-danger btn-xs">Eliminar</button></div>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}

    <script>
    function confirm_delete(clientid){
        
        var r = confirm("Esta seguro de eliminar ?");
        if (r == true) {
            alert(clientid);
            
        }

    }
    </script>
{% endblock javascripts %}