{% extends "core/base_site.html" %}

{% block title %} Crear Cliente {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>Crear Cliente</h3>
                        <div class="clearfix"></div>
                    </div>                  

                    <div class="x_content">

                        <form action="{% url 'clients:insert' %}" method="POST" class="form-horizontal form-label-left">
                        {% csrf_token %}


                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="rut">Rut</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="rut" autocomplete="off" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dv">DV</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="dv" autocomplete="off" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nombre</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="name" autocomplete="off" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sector">Rubro</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="sector" autocomplete="off" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">Direccion</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="address" autocomplete="off" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="comune">Comuna</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="comune" autocomplete="off" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="region">Region</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="region" autocomplete="off" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>


                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" name="submit" class="btn btn-success">Grabar</button>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button onclick="window.location.href='{% url 'clients' %}'" style="float:left;" class="btn btn-primary">Cancelar</button>
                            </div>
                        </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}

{% endblock javascripts %}